<html>
<head  th:replace="~{base :: head}"></head>


<body>
	<div th:replace="~{base :: logo}"></div>
	<div class="container">
		<div th:replace="~{base :: titulo('Novos pedidos')}"></div>
		
		<div class="card mt-3">
			<form th:action="@{/pedido/novo}" th:object="${requisicaoNovoPedido}" class="card-body"
				 method="POST">

				<div class="form-group">
					<label class=>Produto</label> <input th:errorclass="is-invalid"
						th:field="*{nomeProduto}" class="form-control"
						placeholder="insira o nome do produto" /> <small>Informe
						o nome do produto</small>
					<div class="invalid-feedback" th:errors="*{nomeProduto}">Errors
						do nome do produto</div>

				</div>
				<div class="form-group">
					<label>URL</label> <input th:field="*{urlProduto}"
						th:errorclass="is-invalid" class="form-control"
						placeholder="insira a URL do produto aqui" /> <small>Procure
						nos sites o produto que deseja, copie o link e insira aqui</small>
					<div class="invalid-feedback" th:errors="*{urlProduto}">Errors
						na url do produto</div>
				</div>
				<div class="form-group">
					<label>Imagem do produto</label> <input th:field="*{urlImagem}"
						th:errorclass="is-invalid" class="form-control"
						placeholder="insira a URL da imagem do produto" /> 
						<small>Procure nos sites a foto do produto que deseja, copie o link e insira aqui</small>
					<div class="invalid-feedback" th:errors="*{urlImagem}">Errors da URL da imagem</div>
				</div>
				<div class="form-group">
					<label>Descrição</label>
					<textarea name="descricao" class="form-control"
						placeholder="Adicione detalhes importates para ajudar o comprador"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</form>
		</div>
	</div>
</body>
</html>